#top-tab-bar {
  background-color: var(--top-bar-bg);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

#colored-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.red {
  background-color: var(--red);
  &:hover {
    box-shadow: 0 0 2px 2px var(--red);
  }
}

.yellow {
  background-color: var(--yellow);
  &:hover {
    box-shadow: 0 0 2px 2px var(--yellow);
  }
}

.green {
  background-color: var(--green);
  &:hover {
    box-shadow: 0 0 2px 2px var(--green);
  }
}
