@import '../../common/stylesheets/ButtonHover.scss';

.expandable-tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 20px;
    padding-left: 10px;
    @include hoverStyle;
    user-select: none;
}
