@import'../../../core/stylesheets/core.scss';
@import'../../../core/stylesheets/ButtonHover.scss';
@import '../../../core/stylesheets/CustomAlignment.scss';

.resizable {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    @include row();
}

#dragger {
    width: $resizable-drager-width;
    height: 100%;
    background-color: #212121;
    @include hoverStyle(#0776c7);
    &:hover {
        cursor: w-resize;
    }
    align-self: flex-end;
}