
#pages-wrapper {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
  }
  
  .opened-page-holder {
    height: 100%;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  
  #opened-pages-title-card-holder{
    height: 50px;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  
  #opened-page {
    min-width: 400px;
    flex-shrink: 0;
    height: 100%;
    background-color: #1b1b1b;
  }
  