#pages-wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--editor-bg);
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 0px;
}

.opened-page-holder {
  height: 100%;
  width: 100%;
  background-color: var(--editor-bg);
  display: flex;
  overflow: auto;
}