#pages-wrapper {
  height: 100%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
}

.opened-page-holder {
  height: 100%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  overflow: auto;
}